body{
    margin: 0;
    padding: 0;
    background: url(https://s1.ax1x.com/2020/04/04/GdQgQP.png) ;
    background-position: center;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


/*标题*/
.tili{
    color: #696969/*#2f3542;*/;
    width: 100%;
    padding: 40px;
}

.pricing-table{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.col{
    flex: 25%;
    padding: 10px;
    max-width: 320px;
    box-sizing: border-box;
}

.table{
    background: #fff;
    padding: 40px 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px #00000070;
}

.table h2{
    text-transform: uppercase;
    color: #696969/*#2f3542*/;
}

.table ul{
    margin: 0;
    padding: 0;
}

.table ul li{
    padding: 10px 0;
    list-style: none;
}

.price{
    font-size: 40px;
    margin-bottom: 20px;
    color: #2f3542;
}

.price span{
    display: block;
    font-size: 14px;
}

.table a{
    text-decoration: none;
    color: #2c3e50;
    border: 2px solid #2c3e50;
    display: block;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 40px;
    font-size: 14px;
    transition: 0.3s linear;
}

.table a:hover{
    background: #696969/*#2c3e50*/;
    color: #fff;
}

/*NEW标签*/
.pop{
    background: #2c3e50;
    color: #fff;
    transform: rotate(45deg);
    padding: 10px 55px;
    position: absolute;
    top: 13px;
    right: -40px;
}

/*CC协议*/
.cc{
    position:fixed;
    bottom:0;
    width: 100%;
    text-align: center;
    background: #2c3e50;
    color: #fff;
    font-family: Arial;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 10px 10px;
}

.cc a{
    text-decoration: none;
    color: #fff;
}

body cc{
    height: 100%;
}




@media screen and (max-width:980px){
    .col{
        flex: 50%;
    }
}

@media screen and (max-width:700px){
    .col{
        flex: 100%;
    }
}
